/* Reset  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* Common */

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: #edf2f4;
  font-family: "Russo One", sans-serif;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  color: #2b2d42;
  margin-bottom: 35px;
}


body {
  font-family: "Roboto", sans-serif;
  background-color: #8d99ae;
}

input {
  padding: 10px;
  border: 0 solid transparent;
  border-radius: 5px;
}


/* Utility classes */

.text-green {
  color: #609c38;
}

.bg-green {
  background-color: #c8d5b9;
}

.text-red {
  color: #d90429;
}

.bg-red {
  background-color: #ee7a76;
}

.d-flex {
  display: flex;
  gap: 5px;
}

.align-center {
  align-items: center;
}

.mr-5 {
  margin-right: 10px;
}

/* Header  */

header span {
  color: #ef233c;
}

/* main  */
.travels-container {
  max-width: 1200px;
  margin: 0 auto;
}

.search-travel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.search-travel label {
  font-size: 14px;
  margin: 0 5px 0;
}

/* Cards style */

.card-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 100%;
}

article {
  max-width: 386.667px;
  width: 100%;
  padding: 5px;
  background-color: #edf2f4;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px #2b2d42;
}

article div {
  margin-bottom: 20px;
}

.travel-card h3 {
  margin-bottom: 10px;
}

.travel-card span {
  display: inline-block;
  margin-bottom: 10px;
}

.travel-card p {
  margin-bottom: 20px;
}

.travel-card a {
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  background-color: #ef233c;
  border-radius: 5px;
  color: #fff;
}

.travel-card a:hover {
  background-color: #b3090f;
}

/* Deatils page */

.details-container {
  margin: 0 auto;
  max-width: 600px;
}

.user-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #edf2f4;
  font-size: 18px;
}

.users-list {
  margin-bottom: 35px;
}

.users-list li {
  margin-bottom: 10px;
}

.user-data {
  background-color: #edf2f4;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 5px;
  padding: 15px;
}

.btn-details {
  all: unset;
  padding: 8px;
  background-color: #ef233c;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.btn-details:hover {
  background-color: #b3090f;
}

.travel-title {
  margin-bottom: 20px;
}

.travel-title h3 {
  margin-bottom: 10px;
  font-size: 25px;
}

.travellers-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.travel-data p {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
}

/* form viaggi */

.form-container {
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #EDF2F4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  box-shadow: 3px 3px 5px 0px #2b2d42;
}


@media screen and (max-width: 768px) {

  .travels-container {
    margin: 0 20px;
  }
}